<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">库存清单</h1>
    </div>
</div>
<div class="row">

        <!--   Kitchen Sink -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Kitchen Sink
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>款式</th>
                            <th>颜色</th>
                            <th>尺寸</th>
                            <th>数量</th>
                            <th>价格</th>
                            <th>总价</th>
                            <th>日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for jwstock in jwbra_list %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <tr class="info">
                            {% else %}
                        <tr class="warn">
                            {%endif%}
                            <td>{{ forloop.counter }}</td>
                            <td>{{ jwstock.style_name }}</td>
                            <td>{{ jwstock.colour_name }}</td>
                            <td>{{ jwstock.size_name }}</td>
                            <td>{{ jwstock.num }}</td>
                            <td>{{ jwstock.price }}</td>
                            <td>{{ jwstock.total }}</td>
                            <td>{{ jwstock.stock_date }}</td>
                            <td>
                                <form action="stock_delete_post" method="post">
                                    {% csrf_token %}
                                    <input class="form-control input-lg m-b-2" type="hidden" value={{ jwstock.id }}
                                           name="jwstock_id">
                                    <input class="form-control input-lg m-b-2" type="submit" value="删除">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- End  Kitchen Sink -->


</div>

