{% extends "jwmod/__base__.html" %}

{% block mainbody %}
    <section class="panel">
        <header class="panel-heading">
            添加客户
        </header>
        <div class="panel-body">
            <form action="customer_add_post" method="post">
                {% csrf_token %}
                <div class="form-group has-success">
                    <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">姓名</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="customer_name">
                    </div>
                </div>
                <div class="form-group has-success">
                    <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">电话</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="customer_phone">
                    </div>
                </div>
                <div class="form-group has-success">
                    <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">地址</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="customer_addr">
                    </div>
                </div>
                <input class="form-control input-lg m-b-10" type="submit">
            </form>
        </div>
    </section>

{% endblock %}


